#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@
ifeq (i386,$(DEB_HOST_ARCH))
        override_dh_auto_configure:
	        dh_auto_configure -- \
                        --wrap-mode=default \
                        -Dwith_nvml=disabled \
                        -Dinclude_doc=true \
                        -Dwith_xnvctrl=enabled \
                        -Dwith_x11=enabled \
                        -Dwith_wayland=enabled \
                        -Dwith_dbus=enabled \
                        -Dmangoapp=true \
                        -Dmangohudctl=true \
                        -Dmangoapp_layer=true
else
        override_dh_auto_configure:
	        dh_auto_configure -- \
                        --wrap-mode=default \
                        -Dwith_nvml=enabled \
                        -Dinclude_doc=true \
                        -Dwith_xnvctrl=enabled \
                        -Dwith_x11=enabled \
                        -Dwith_wayland=enabled \
                        -Dwith_dbus=enabled \
                        -Dmangoapp=true \
                        -Dmangohudctl=true \
                        -Dmangoapp_layer=true
endif
